@using ElasticSearchASPApplication.Models
@model ElasticSearchASPApplication.Models.SearchViewModel
@{
    ViewBag.Title = "Elastic Search Example";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Search, new { @class = "col-md-2 control-label" })
                    <div class="">
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control" })
                       
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
             
            }
        </section>
    </div>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}